.page-menu-link-cab-manual::before {
    background-image: url("/images/manual/menu.png");
    background-repeat: no-repeat;
    background-position: center;
}

.page-menu-link-book-manual::before {
    background-image: url("/images/manual/book.png");
    background-repeat: no-repeat;
    background-position: center;
}

.page-main-manual {
    background-color: #f1f3fe;
}

.cards-list {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.book-card:nth-child(3) {
    margin-right: 0;
}

.book-card {
    display: block;
    width: 230px;
    margin-right: 10px;
    padding: 15px;
}

.image-card {
    margin-bottom: 15px;
}

.title-card {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #576BCC;
    margin-top: 10px;
    margin-bottom: 5px;
}

.description-card {
    margin-top: 0;
}

.title-card::after {
    content: "";
    display: block;
    width: 255px;
    height: 3px;
    background-color: #576BCC;
    margin: 15px auto;
}