// Страница с тестами
.page-menu-link-cab-manual::before {
    background-image: url("/assets/images/manual/menu.png");
    background-repeat: no-repeat;
    background-position: center;
}

.page-menu-link-exam-active::before {
    background-image: url("/assets/images/tests/testicon.png");
    background-repeat: no-repeat;
    background-position: center;
}

.page-main-tests {
    background-color: #f1f3fe;
    .title-tetst {
        height: 50px;
        font-size: 50px;
        font-weight: bold;
        color: #576BCC;
        text-align: center;
        border-bottom: 2px solid #576BCC;
    }
    .testcards-block {
        display: flex;
        flex-direction: column;
        .test-card {
            margin-left: 10%;
            margin-bottom: 4%;
            width: 85%;
            height: 300px;
            padding: 32px 60px;
            overflow: hidden;
            box-sizing: border-box;
            font-weight: 300;
            font-size: 18px;
            line-height: 28px;
        }
        .test-card-img {
            position: absolute;
            width: 60%;
            height: 280px;
        }
        .blue {
            opacity: 0.4;
        }
        .description-test {
            padding-left: 15px;
            .test-card-headline {
                position: relative;
                margin-bottom: 10px;
                font-weight: 900;
                font-size: 28px;
                line-height: 48px;
                color: #ffffff;
            }
            .test-card-text {
                position: relative;
                margin: 0 0 30px 0;
                max-width: 470px;
                color: #ffffff;
            }
            .go-test {
                position: relative;
                padding: 10px 20px;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #ffffff;
                text-decoration: none;
                background-color: #ff8f0b;
                border-radius: 4px;
            }
            .hidebtn {
                display: none;
            }
        }
    }
    .wrapper {
        display: none;
        margin-left: auto;
        margin-right: auto;
    }
}