body {
    height: 100%;
    padding: 0;
    margin: 0;
    /* min-width: 1440px; */
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #3c425f;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

// .container {
//     width: 100%;
//     margin: 0 auto;
// }
// .page {
//     display: grid;
//     grid-template-areas: "navigation header" "navigation main" "footer footer";
//     grid-template-columns: 280px 1fr;
//     grid-template-rows: 80px 1fr 60px;
//     max-height: 100vh;
// }
// Верхняя часть сайта
.page-header {
    z-index: 111;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #b4bef0;
    background-color: #ffffff;
    .part1 {
        width: 15%;
        .logo-img {
            margin-left: 20px;
        }
    }
    .part2 {
        display: flex;
        width: 65%;
        h1 {
            font-family: 'Neucha', cursive;
            margin-left: 10%;
            align-self: center;
            font-size: 45px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .part3 {
        width: 10%;
        display: flex;
        .english-chg {
            cursor: pointer;
            color: #fff;
            /* Цвет текста */
            background: #576bcc;
            padding: 10px;
            transition: 1s linear;
            height: 20px;
            margin: 10px;
            margin-top: 15%;
            font-size: 20px;
        }
        .english-chg:hover {
            color: #fff;
            background: #ff8f0b;
        }
    }
    .part4 {
        width: 10%;
        display: flex;
        .exit-chg {
            cursor: pointer;
            color: #fff;
            /* Цвет текста */
            background: #576bcc;
            /* Цвет фона */
            padding: 10px;
            /* Поля вокруг текста */
            transition: 1s linear;
            height: 20px;
            margin: 20px;
            margin-top: 15%;
            font-size: 20px;
        }
        .exit-chg:hover {
            color: #fff;
            /* Цвет текста */
            background: #ff8f0b;
            /* Цвет фона */
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    min-height: 100vh;
    background-color: #f1f3fe;
}

.page-footer {
    margin-left: 15%;
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #3c425f;
    .eng-href-footer {
        display: none;
    }
}

.page-main {
    // grid-area: main;
    padding: 30px;
    //  min-height: 100%;
    display: flex;
    // flex: 1 1 auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    // grid-template-columns: 3fr 1fr;
    // grid-template-rows: 300px auto 1fr;
    //  grid-template-areas: "slider contacts" "offers contacts" "video contacts";
    //   grid-gap: 20px;
    background-color: #f1f3fe;
}


/* Навигационная панель слева */

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #ffffff;
    border-right: 1px solid #b4bef0;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.sidenav li a {
    transition-property: font-weight, color;
    transition-delay: .1s;
    font-size: 16px;
    line-height: 20px;
    color: #3c425f;
    text-decoration: none;
    display: block;
    color: #000;
    padding: 20px 25px 20px 63px;
    text-decoration: none;
}

.page-menu-item-active {
    background-color: #f1f3fe;
}

.page-menu-link:hover {
    font-weight: 500;
    color: #002aff;
    background-color: #f1f3fe;
}

.page-menu-link::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 30px;
}

.page-menu-link-cab::before {
    background-image: url("../images/main/menu.png");
    background-repeat: no-repeat;
    background-position: center;
}

.page-menu-link-book::before {
    background-image: url("../images/main/book.png");
    background-repeat: no-repeat;
    background-position: center;
}

.page-menu-link-home::before {
    background-image: url("../images/main/home.png");
    background-repeat: no-repeat;
    background-position: center;
}

.page-menu-link-exam::before {
    background-image: url("../images/main/homework.png");
    background-repeat: no-repeat;
    background-position: center;
}

.page-menu-link-about::before {
    background-image: url("../images/main/interrogation.png");
    background-repeat: no-repeat;
    background-position: center;
}

.page-menu-item-active .page-menu-link {
    font-weight: 500;
    color: #576bcc;
}

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
    flex: 1 0 auto;
}

//
div.content {
    // margin: 0 auto;
    // display: flex;
    // flex-direction: column;
    flex: 1 0 auto;
    margin-left: 5%;
    padding: 1px 10px;
    height: auto;
    flex-wrap: wrap;
}


/* Верхняя часть сайта */


/* Карточки с предложениями */

.offers {
    display: flex;
    margin-top: 25px;
    width: 60%;
    margin-left: 15%;
    margin-bottom: 25px;
}

.offers-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.offers-item {
    margin-left: 25px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 20px 30px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(60, 66, 95, 0.2);
    border-radius: 4px;
}

.offers-item:first-child {
    margin-left: 0;
}

.offers-item h3 {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #3c425f;
}

.offers-item-text {
    margin: 5px 0 5px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #3c425f;
}

.offers-item-time {
    margin: 0 0 8px 0;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    color: #0bc4cf;
}

.offer-footer {
    text-align: right;
}

.offers-item a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #576bcc;
    text-decoration: none;
}


/* Слайдер */

.slider {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-top: 25px;
    width: 65%;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: 300;
    font-size: 25px;
    line-height: 28px;
    background: url("../images/main/London.jpg") center/cover;
    height: auto;
    // position: relative;
    // width: 75%;
    // height: 300px;
    // padding: 32px 60px;
    // overflow: hidden;
    // box-sizing: border-box;
    // font-weight: 300;
    // font-size: 18px;
    // line-height: 28px;
}

// .slider-img {
//     width: 100%;
//     height: 50%;
// }
// .blue {
//     position: absolute;
//     opacity: 0.4;
//     height: 400px;
//     width: 1600px;
// }
// .content-of-slider {
//     position: absolute;
//     margin-left: 25px;
// }
.slider-headline {
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: 900;
    font-size: 30px;
    line-height: 48px;
    color: #ffffff;
}

.slider-text {
    margin: 0 0 30px 10px;
    max-width: 500px;
    color: #ffffff;
}

.slider a {
    width: 15%;
    padding: 15px 20px;
    padding-right: 5px;
    margin-left: 15px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #ffffff;
    text-decoration: none;
    background-color: #ff8f0b;
    border-radius: 4px;
}


/* Раздел с видео и музыкой */

.media {
    margin-left: 15%;
    margin-top: 25px;
    // grid-area: video;
    display: flex;
    width: 65%;
    // grid-template-columns: 1fr 2fr;
    // grid-gap: 20px;
}

.lesson-video {
    width: 50%;
    height: 300px;
}

.media h3 {
    margin: 20px 0 13px 30px;
    border-bottom: 1px solid #e4e8fc;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.video-play-list-wrapper {
    margin-left: 40px;
    margin-bottom: 25px;
    width: 50%;
    // position: relative;
    height: 300px;
    background: #ffffff;
    box-shadow: 0 1px 4px rgba(60, 66, 95, 0.2);
    border-radius: 4px;
}

.play-list {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 235px;
    overflow-y: auto;
}

.play-item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f1f3fe;
}

.play-item audio {
    margin-left: 20px;
}

.play-item h4 {
    margin: 0;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 900;
}

.play-item p {
    font-size: 12px;
    margin: 0;
    margin-left: 10px;
}

.play-item-active {
    background-color: #f1f3fe;
}


/* Контакты */

.contacts {
    //
    // position: fixed;
    // top: 115px;
    // left: 1250px;
    //
    display: flex;
    flex-direction: column;
    //25%
    width: 15%;
    // margin-left: 80%;
    top: 115px;
    left: 82%;
    position: absolute;
    padding: 20px 0 20px 30px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(60, 66, 95, 0.2);
    border-radius: 4px;
    margin-bottom: 25px;
}

.contacts h2 {
    margin: 0 0 10px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #3c425f;
}

.contacts iframe {
    margin: 10px;
}

.contact-list {
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
    border-top: 2px solid #e4e8fc;
}

.copyright {
    margin: 20px 10px 10px 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #aaaaaa;
}

.page-footer-logo {
    margin: 20px 0;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #aaaaaa;
    text-decoration: none;
}

.copyright-details {
    margin: 20px 20px 10px 10px;
    text-align: right;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #aaaaaa;
}

.copyright-details a {
    color: #aaaaaa;
    text-decoration: none;
}

@media screen and (max-width: 1440px) {
    .content {
        margin-bottom: 50px;
    }
    .slider a {
        font-size: 18px;
    }
    .contacts {
        left: 84%;
        width: 14%;
        padding-left: 14px;
        height: auto;
    }
}

@media screen and (max-width: 1024px) {
    .page-header {
        .part2 {
            h1 {
                font-size: 32px;
            }
        }
    }
    .slider {
        width: 80%;
        a {
            font-size: 14px;
        }
    }
    .media {
        width: 80%;
    }
    .contacts {
        margin-left: 15%;
        position: relative;
        top: 0%;
        left: 0%;
        display: flex;
        justify-content: center;
        width: 80%;
        height: auto;
        margin-bottom: 15px;
    }
}

// планшет
@media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a {
        float: none;
        text-align: center;
    }
    div.content {
        padding: 0;
        margin-left: 0;
    }
    .page-header {
        justify-content: start;
        margin: auto;
        position: relative;
        border-bottom: none;
        .part2 {
            display: none;
        }
        .part3 {
            display: none;
        }
        .part4 {
            width: 20%;
            margin-left: 65%;
        }
    }
    .page-footer {
        margin-left: 0;
        .eng-href-footer {
            display: block;
        }
    }
    // .content {
    //     margin-left: 5%;
    // }
    .offers {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-bottom: 15px;
        // position: relative;
        // flex-direction: column;
    }
    .offers-list {
        flex-direction: column;
        width: 70%;
    }
    .offers-item {
        margin-left: 0;
        width: 100%;
        margin-top: 15px;
    }
    .offers-item:nth-child(2) {
        margin-left: 0;
    }
    .offers-item:nth-child(3) {
        margin-left: 0;
    }
    .slider {
        justify-content: center;
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-bottom: 15px;
        .slider-headline {
            font-size: 30px;
        }
        .slider-text {
            font-size: 18px;
        }
        a {
            font-size: 20px;
            width: 20%;
        }
    }
    .contacts {
        position: relative;
        top: 0%;
        left: 0%;
        display: flex;
        justify-content: center;
        width: 95%;
        height: auto;
        margin-left: 10px;
        margin-bottom: 15px;
    }
    .media {
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-bottom: 15px;
        .lesson-video {
            width: auto;
        }
        .video-play-list-wrapper {
            margin-top: 15px;
            margin-left: 0;
            width: auto;
        }
    }
}

// телефон
@media screen and (max-width: 425px) {
    .page-header {
        .part4 {
            width: 35%;
            margin-left: 50%;
        }
    }
    .page-footer {
        margin-left: 0;
        .eng-href-footer {
            display: block;
        }
    }
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
    .page-footer {
        flex-direction: column;
        justify-content: center;
        .copyright {
            margin-left: auto;
            margin-right: auto;
        }
        .page-footer-logo {
            margin-left: auto;
            margin-right: auto;
        }
        .copyright-details {
            margin-left: auto;
            margin-right: auto;
        }
        .eng-href-footer {
            margin-left: auto;
            margin-right: auto;
        }
    }
    div.content {
        margin-left: 0%;
    }
    .offers {
        width: auto;
        .offers-list {
            width: auto;
            .offers-item {
                width: auto;
            }
        }
        display: flex;
        margin-left: 0;
        height: auto;
        margin-bottom: 15px;
    }
    .slider {
        .slider-headline {
            font-size: 30px;
        }
        .slider-text {
            font-size: 18px;
        }
        a {
            font-size: 18px;
            width: 45%;
        }
    }
    .media {
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-bottom: 15px;
        .lesson-video {
            width: 80%;
            height: auto;
        }
        .video-play-list-wrapper {
            margin-top: 15px;
            margin-left: 0;
            width: 80%;
        }
    }
    .contacts {
        width: 90%;
        height: auto;
    }
}